@if (isLoggedIn()) {
  <nav>
    <div routerLink="/rides">
      <span>🏍️</span>
      <span>Rides</span>
    </div>
    <div routerLink="/photos">
      <span>📷</span>
      <span>Photos</span>
    </div>
    <div routerLink="/start-stop-ride">
      <span>🏁</span>
      <span>Start/Stop Ride</span>
    </div>
    <div routerLink="/stats">
      <span>📊</span>
      <span>Stats</span>
    </div>
    <div (click)="logout()">
      <span>👋</span>
      <span>Logout</span>
    </div>
  </nav>
}
@else {
  <nav>
    <div routerLink="/login">
      <span>🔑</span>
      <span>Login</span>
    </div>
    <div routerLink="/signup">
      <span>✏️</span>
      <span>Sign Up</span>
    </div>
  </nav>
}
