<div class="button-container">
    <button class="start-stop-ride-btn" [class.active]="isRiding" (click)="toggleRideStatus()">{{ isRiding ? 'Stop Ride' : 'Start Ride'}}</button>
    <p class="ride-greeting" *ngIf="isRiding && elapsedSeconds < 5">{{ selectRandomRideStartGreeting() }}</p>
    @if(isRiding) {
        <p class="ride-timer">Riding for: {{ padTimeToTwoDigits(hours) }}:{{ padTimeToTwoDigits(minutes) }}:{{ padTimeToTwoDigits(seconds) }}</p>
        <a (click)="openWaze()" class="navigation-button waze-button">Open Waze</a>
        @if (showMessageWazeAppNotInstalled) {
            <p>Could not open Waze as app not detected.</p>
        }
        <a href="https://www.google.com/maps" class="navigation-button maps-button">Open Maps</a>
    }
</div>

<!-- Save ride modal -->
@if (showSaveRideModal) {
    <div class="save-ride-modal">
        <div class="modal-content">
            <button class="close-modal-btn" (click)="closeSaveRideModal()">&#x2715;</button>
            <h2>Save Your Ride!</h2>
            <!--Slight concern that frontend and backend both calculate durations, they should hopefully match.-->
            <label class="ride-completion-summary">Ride complete! You rode for: {{ padTimeToTwoDigits(hours) }}:{{ padTimeToTwoDigits(minutes) }}:{{ padTimeToTwoDigits(seconds) }}</label>
            <!--Would be nice if ride name was auto-populated to Ride on Thurs 18th Evening for example. User can override to custom name-->
            <label for="rideNameInput">Ride Name*</label>
            <input type="text" id="rideNameInput" #rideNameInput>
            <label>Rating</label>
            <div class="rating-circles-container">
                @for (i of [1, 2, 3, 4, 5]; track i) {
                    <span
                        class="rating-circle"
                        [class.selected]="isRatingSelected(i)"
                        (click)="setRating(i)">
                    </span>
                }
            </div>
            <label for="rideDescriptionInput">Description</label>
            <textarea id="rideDescriptionInput" #rideDescriptionInput></textarea>
            <button class="save-button" (click)="createRide(rideNameInput.value, rideDescriptionInput.value)">Save Ride</button>
        </div>
    </div>
}