<div class="modal-overlay">
    <form class="add-expense-form">
        <div class="form-title">
            <h4>Create Expense</h4>
        </div>

        <div class="main-section">
            <div class="name-section">
                <label for="expenseName">Name:</label>
                <input type="text" id="expenseName" class="expense-form-input">
            </div>
            <div class="amount-section">
                <label for="expenseAmount">Amount:</label>
                <input type="number" id="expenseAmount" class="expense-form-input">
            </div>
        </div>

        <div class="expense-modal-footer">
            <button type="submit" class="create-expense-button">Create</button>
        </div>
    </form>
</div>