<ng-template #successDeleteTpl>✅ Expense &quot;{{expenseName}}&quot; deleted successfully!</ng-template> 
<ng-template #successUpdateTpl>✅ Expense updated successfully!</ng-template>
<ng-template #successCreateTpl>✅ Expense &quot;{{expenseName}}&quot; created successfully!</ng-template>

<ng-template #failureDeleteTpl>✖ Failed to delete &quot;{{expenseName}}&quot; expense. Please try again.</ng-template>
<ng-template #failureUpdateTpl>✖ Failed to update expense. Please try again.</ng-template>
<ng-template #failureCreateTpl>✖ Failed to create expense. Please try again.</ng-template>

<p>All expenses from database from current user:</p>

<div class="quick-input-container">
  <textarea class="quick-input" rows="2"
  placeholder="⚡ Add expense super fast! E.g. &quot;I bought coffee for £2.50&quot;, or just &quot;Coffee £2.50&quot;" 
  (keyup.enter)="createExpense()" #quickInput></textarea>

  <button class="quick-input-btn voice-btn"
          [class.listening]="isListening"
          #tooltip="ngbTooltip"
          [ngbTooltip]="isListening ? 'Click to stop' : 'Click to speak'"
          triggers="hover"
          (click)="toggleVoiceInput(); tooltip.close()">
          {{ isListening ? '🔴' : '🎙️' }}
  </button>
  
  <button class="quick-input-btn submit-btn"
          [ngbTooltip]="'Create expense'"
          triggers="hover"
          (click)="createExpense()">
          🚀
  </button>
</div>

<div class="table-container">
  <table>
    <thead>
      <th>Name</th>
      <th>Amount (£)</th>
      <th>Category</th>
      <th>Actions</th>
    </thead>
    <tbody>
      @for (expense of expenses; track expense.id) {
        <tr>
          <td (click)="startEdit(expense, 'Name')">
            @if (editingExpenseId === expense.id && editingField === 'Name') {
              <input 
                type="text"
                [(ngModel)]="editValue"
                (keydown.enter)="saveEdit(expense)"
                (blur)="cancelEdit()"
              />
            }
            @else {
              {{expense.name}}
            }
          </td>
          <td (click)="startEdit(expense, 'Amount')">
            @if (editingExpenseId === expense.id && editingField === 'Amount') {
              <input 
                type="text"
                [(ngModel)]="editValue"
                (keydown.enter)="saveEdit(expense)"
                (blur)="cancelEdit()"
              />
            }
            @else {
              {{expense.amount | number:'1.0-2'}}
            }
          </td>
          <td>{{expense.categoryName}}[{{expense.categoryIcon}}]</td>
          <td>
            <button class="delete" (click)="openDeleteModal(expense)">Delete 🗑️</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>


@if (showDeleteModal) {
  <app-confirmation-modal
    [confirmationMessage]="'Are you sure you want to delete the &quot;' + expenseToDelete?.name + '&quot; expense?'"
    (confirmed)="deleteExpense(expenseToDelete!.id, successDeleteTpl, failureDeleteTpl)"
    (cancelled)="closeDeleteModal()">
  </app-confirmation-modal>
}
